* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cursiva', sans-serif;
    text-align: center;
}

body {
    background-color:rgb(243, 212, 217);
}
container{
    max-width: 40em;
    padding: 2%;
    margin: 10 10 10 10;
    text-align: justify;

}
.calculator {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color:#162f3b;
}

table td {
    display: inline-block;
}

.btn {
    margin: 3px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    color: #170404;
    font-size: 16px;
    transition: all 500ms ease-in-out;
}

.btn:hover {
    background-color:#e6dbc7;
}

.ac {
    background-color: #ec580f;
}

.ac:hover {
    background-color: #e6dbc7;
}

.especial {
    background-color: #fff;
}

.especial:hover {
    background-color: #e6dbc7;
}

.igual{
    background-image: linear-gradient(to bottom, #567e36, #ee8558);;
   
}

.btn igual:hover {
    background-color:#e6dbc7;

}

.result {
    height: 100px;
    color: #dfdfdf;
    text-align: right;
    font-size: 35px;
    word-wrap: break-word;
    border-bottom: 1px solid linear-gradient(to bottom, #567e36, #ff7033);
}
